.heroMainContainer {
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem; /* Added padding for a spacious feel */
}

.heroHeading {
  color: royalblue;
  font-family: "Playwrite GB S", cursive;
  font-size: 1.7rem;
}

.heroSubHeading {
  font-size: 1rem; /* Slightly larger text */
  font-weight: 400;
  color: #444;
  line-height: 1.6;
  text-align: justify;
  padding: 0.7rem;
  width: 90%;
  max-width: 900px;
  font-family: "Montserrat", Sans-serif;
}

/* Extra Small Mobile Devices (Portrait) */
/* iPhone SE, older Android phones */
@media only screen and (max-width: 320px) {
  .heroMainContainer {
    height: 40vh;
  }

  .heroHeading {
    font-size: 1.2rem;
    text-align: center;
  }

  .heroSubHeading {
    font-size: 0.75rem;
  }
}

/* Small Mobile Devices (Portrait) */
/* iPhone 6/7/8, Galaxy S8 */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .heroMainContainer {
    height: 40vh;
  }

  .heroHeading {
    font-size: 1.3rem;
    text-align: center;
  }

  .heroSubHeading {
    font-size: 0.9rem;
  }
}

/* Medium Mobile Devices (Portrait) */
/* iPhone 11 Pro, Google Pixel 2 */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .heroMainContainer {
    height: 40vh;
  }

  .heroHeading {
    font-size: 1.3rem;
    text-align: center;
  }

  .heroSubHeading {
    font-size: 0.9rem;
  }
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}
